@model IEnumerable<Lab2_PWA_Juegos.Models.EntranceModel>

@{
    ViewData["Title"] = "Índice";
}

<h1>Índice</h1>

<p>
    <a asp-action="Create">Crear Nuevo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Producto
            </th>
            <th>
                Proveedor
            </th>
            <th>
                Cantidad
            </th>
            <th>
                Precio Unitario
            </th>
            <th>
                Total
            </th>
            <th>
                Fecha de Entrada
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Products.PName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Suppliers.SName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Quantity)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UnitPrice)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Total)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EDate)
                </td>
                <td>
                    <a asp-controller="Entrance"
                       asp-action="Edit"
                       asp-route-id="@item.EntranceID"
                       class="btn btn-primary">
                        Editar
                    </a>
                    <a asp-controller="Entrance"
                       asp-action="Delete"
                       asp-route-id="@item.EntranceID"
                       class="btn btn-danger">
                        Eliminar
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>

