@model IEnumerable<Lab2_PWA_Juegos.Models.CustomersModel>

@{
    ViewData["Title"] = "Clientes";
}

<h1>Clientes</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Agregar nuevo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                ID del Cliente
            </th>
            <th>
                Nombre
            </th>
            <th>
                Correo Electrónico
            </th>
            <th>
                Teléfono
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CustomerID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Phone)
                </td>
                <td>
                    <a asp-controller="Customers"
                       asp-action="Edit"
                       asp-route-id="@item.CustomerID"
                       class="btn btn-primary">
                        Editar
                    </a>
                    <a asp-controller="Customers"
                       asp-action="Delete"
                       asp-route-id="@item.CustomerID"
                       class="btn btn-primary">
                        Eliminar
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>
