@model IEnumerable<Lab2_PWA_Juegos.Models.EmployeesModel>

@{
    ViewData["Title"] = "Empleados";
}

<h1>Empleados</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Agregar nuevo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                ID del Empleado
            </th>
            <th>
                Nombre
            </th>
            <th>
                Apellido
            </th>
            <th>
                Correo Electrónico
            </th>
            <th>
                Teléfono
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.EmployeeID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Lastname)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Phone)
                </td>
                <td>
                    <a asp-controller="Employees"
                       asp-action="Edit"
                       asp-route-id="@item.EmployeeID"
                       class="btn btn-primary">
                        Editar
                    </a>
                    <a asp-controller="Employees"
                       asp-action="Delete"
                       asp-route-id="@item.EmployeeID"
                       class="btn btn-primary">
                        Eliminar
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>
