@model Lab2_PWA_Juegos.Models.ProductsModel

@{
    ViewData["Title"] = "Eliminar";
}

<h1>Eliminar</h1>

<h3>¿Está seguro de que desea eliminar esto?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            ID del Producto
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ProductID)
        </dd>
        <dt class="col-sm-2">
            Nombre del Producto
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PName)
        </dd>
        <dt class="col-sm-2">
            Descripción
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PDescription)
        </dd>
        <dt class="col-sm-2">
            Precio
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class="col-sm-2">
            Cantidad
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Stock)
        </dd>
        <dt class="col-sm-2">
            Proveedor
        </dt>
        <dd class="col-sm-10">
            @ViewBag.SName
        </dd>

    </dl>

    <form asp-action="Delete" method="post">
        @Html.HiddenFor(model => model.ProductID)
        <input type="submit" value="Eliminar" class="btn btn-danger" /> |
        <a asp-action="Index">Regresar a la Lista</a>
    </form>
</div>
