@model IEnumerable<Lab2_PWA_Juegos.Models.ProductsModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Productos</h1>

<p>
    <a asp-action="Create">Crear Nuevo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Nombre del Producto
            </th>
            <th>
                Descripción
            </th>
            <th>
                Precio
            </th>
            <th>
                Cantidad
            </th>
            <th>
                Proveedor
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.PName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PDescription)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Stock)
                </td>
                <td>
                    @item.Suppliers?.SName
                </td>
                <td>
                    <a asp-controller="Products"
                       asp-action="Edit"
                       asp-route-id="@item.ProductID"
                       class="btn btn-primary">
                        Editar
                    </a>
                    <a asp-controller="Products"
                       asp-action="Delete"
                       asp-route-id="@item.ProductID"
                       class="btn btn-danger">
                        Eliminar
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>
